.banner__imagen{
    background: url(../banner/plaza-armas.jpg) no-repeat center / cover;
}

.banner__titulo{
    color: var(--color-principal);
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    padding: .5rem .5rem;
    -webkit-text-stroke: 1px var(--color-letra);
}

.banner__parrafo{
    color: var(--color-blanco);
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    padding: .5rem .5rem;
    -webkit-text-stroke: 1px var(--color-principal);
}


/*PC*/
@media screen and (min-width: 768px) and (max-width: 1600px) {
    .banner__imagen{
        height: 28rem;
        width: 100%;
    }
    .banner__titulo{
        font-size: 3.8rem;
        text-align: start;
        left: 10%;
        top: 14rem;
    }
    .banner__parrafo{
        text-align: start;
        font-size: 1.5rem;
        left: 10%;
        top: 24rem;
    }
}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    .banner__imagen{
        height: 30rem;
        width: 100%;
    }
    .banner__titulo{
        font-size: 2.9rem;
        text-align: start;
        left: 5%;
        top: 26rem;
    }
    .banner__parrafo{
        font-size: 1.4rem;
        text-align: start;
        left: 5%;
        top: 36rem;
    }
}     

/*Mobile*/
@media screen and (max-width: 480px) {
    .banner__imagen{
        height: 26rem;
        width: 100%;
    }
    .banner__titulo{
        font-size: 2.6rem;
        text-align: start;
        align-items: center;
        left: 5%;
        top: 14rem;
    }
    .banner__parrafo{
        font-size: 1.4rem;
        text-align: start;
        align-items: center;
        left: 5%;
        top: 24rem;
    }
}